<!DOCTYPE html>
<html>
<head>
	  <meta charset="UTF-8">
	   <meta name="description" content="Sina's Cuppy Cake is locally owned bakery shop by Massina Williams. She makes all her baked goods with love and care. Each handcrafted from scratch.">
	    <meta name="robots" content="nofollow">
	    <meta http-equiv="pragma" content="no-cache">
       <!-- CSS & Stylesheets -->
        <link rel="stylesheet"  type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
        <title> Sina's Cuppy Cake </title>
</head>
<body>

	<div id="header"></div>
        <!-- Jumbotron Sect. -->
        <div class="jumbotron container-fluid" style="text-align:center;">
            <h1> Cuppy <img src="../assets/imgs/pink-cup.png" width="100" height="100" style="border-radius: 100%;">  Cakes </h1>
        </div><!-- End of Jumbo -->
        
        <!-- Navigation Sect. -->
        <nav class="navbar navbar-default container-fluid navbar-fixed">
         <div class="container">
            <ol class="breadcrumb" style="text-align:center;">
                <li class="active"><a href="../index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li> <a href="../index.html#services">Services</a></li>
                <li><a href="../index.html#about">About CC</a></li>
                <li><a href="../index.html#contact">Contact</a></li>
            </ol>
         </div>
        </nav><!-- End of Nav -->
	<!-- Gallery --> 
		<div class="gallery container">
			<div class="row">
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="../assets/imgs/balloons.jpg">
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="../assets/imgs/christ.jpg" height="500">
					</div>
				</div>
			
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="../assets/imgs/girl_1.jpg">
					</div>
				</div>
			
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="../assets/imgs/jess.jpg"
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="../assets/imgs/bat.jpg">
					</div>
				</div>
			
				<div class="col-md-3">
					<div class="thumbnail">
						<img src="../assets/imgs/purp.jpg">
					</div>
				</div>

				<div class="col-md-3">
					<div class="thumbnail"></div>
				</div>
				
				<div class="col-md-3">
					<div class="thumbnail"></div>
				</div>
			
			
			</div>
		</div>
	<!-- End of Gallery -->

	<div id="footer"></div>
	<!-- Javascript --> 
</body>
</html>